---
title: Not Found
permalink: /404.html
is_wiki_page: true
---

{% include git-wiki/defines/defines.html %}

<!doctype html>
<html>

<!-- redirect to page creator if not exists -->
<script type="text/javascript">
    function newPage() {
        var filename = window.location.pathname.split('/').pop();
        if (!filename.endsWith(".md"))
            filename+=".md";

        var url = '{{ site.github.repository_url }}/new/{{site.git_branch | escape}}?filename={{ site.wiki_folder | default: 'wiki' }}/'+filename;
        window.location=url;
    }
</script>

<head>
    {% if site.inc_before_head %}
    {% include {{ site.inc_before_head }} %}
    {% endif %}

    {% include git-wiki/sections/head/meta.html %}
    {% include git-wiki/sections/head/scripts.html %}
    {% include git-wiki/sections/head/styles.html %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/united/bootstrap.min.css">

    {% if site.inc_after_head %}
    {% include {{ site.inc_after_head }} %}
    {% endif %}

    <title>404: Page Not Found - AzerothCore</title>
</head>

<body style="background-color: black;" onload="darkModeSetBodyBg()">
    <!-- dark mode -->
    <script>
        darkModeSetBodyBg()
    </script>
    <div class="wrapper">
        {% include git-wiki/sections/header/header.html %}
        <div class="git-wiki-page">
            <h1>404: Page Not Found</h1>
            <p>Looks like the page you are looking for does not exist or has been removed.</p><br>
            <a href="home">Go back home.</a><br><br>
            <a href="javascript:newPage();">Create a new page.</a>
        </div>
        <div class="row">
            <div class="col">
                {% include git-wiki/sections/footer/footer.html %}
            </div>
        </div>
    </div>

    {% include git-wiki/sections/tail/tail.html %}
</body>

</html>
