<!--suppress HtmlUnknownTarget -->
<div class="sidebar-wrapper">
    <b>How-To ( branch master )</b> <a href="https://github.com/azerothcore/wiki/edit/master/_includes/azerothcore/sidebar.html">Edit</a>
    <b>Install:</b>
    <ul>
        <li><a href="/wiki/Installation">Installation Guide</a></li>
        <li><a href="/wiki/requirements">Requirements</a></li>
        <li><a href="/wiki/core-installation">Core Installation</a></li>
        <li><a href="/wiki/server-setup">Server Setup</a></li>
        <li><a href="/wiki/database-installation">Database Installation</a></li>
        <li><a href="/wiki/networking">Networking</a></li>
        <li><a href="/wiki/final-server-steps">Final Server Steps</a></li>
        <li><a href="/wiki/keeping-the-server-up-to-date">Keeping the server up to date</a></li>
        <li><a href="/wiki/client-setup">Client Setup</a></li>
        <li><a href="/wiki/Memory-Usage">Memory Usage</a></li>
    </ul>
    <b>Contribute:</b>
    <ul>
        <li><a href="/wiki/Contribute">How to contribute </a></li>
        <li><a href="/wiki/How-to-create-a-PR">How to create a PR</a></li>
        <li><a href="/wiki/How-to-test-a-PR">How to test a PR</a></li>
        <li><a href="/wiki/How-to-test-DB-only-changes">How to test DB-only changes</a></li>
        <li><a href="/wiki/how-to-document-code">How to document your code</a></li>
    </ul>
    <b>Documentation</b>
    <ul>
        <li><a href="/wiki/documentation_index">Documentation Index</a></li>
        <li><a href="/wiki/standard-operating-procedure">Standard Operating Procedure</a></li>
    </ul>
    <b>Database:</b>
    <ul>
        <li><a href="/wiki/database-auth">DB auth</a></li>
        <li><a href="/wiki/database-characters">DB characters</a></li>
        <li><a href="/wiki/database-world">DB world</a></li>
    </ul>
    <b>Other:</b>
    <ul>
        <li><a href="/wiki/How-to-ask-for-help">How to ask for help</a></li>
        <li><a href="/wiki/best-practices">Best practices</a></li>
        <li><a href="/wiki/external-tools-and-modules">Other Tools & Modules</a></li>
        <li><a href="/wiki/FAQ">FAQ</a></li>
        <li><a href="/wiki/Creating-Accounts">Create Accounts</a></li>
        <li><a href="/wiki/Create-a-Module">Create a Module</a></li>
        <li><a href="/wiki/Create-a-Script">Create your first Script</a></li>
        <li><a href="/wiki/how-to-work-with-conf-files">Work with configuration files (.conf & .conf.dist)</a></li>
        <li><a href="/wiki/server-setup">Extract client data (maps, mmaps, vmaps, dbc)</a></li>
        <li><a href="/wiki/linux-restarter">Linux automatic restarter</a></li>
        <li><a href="/wiki/GM-Commands">GM Commands</a></li>
        <li><a href="/wiki/Waypoints-Information">Information about waypoints</a></li>
        <li><a href="/wiki/How-to-obtain-free-records">How to obtain free records</a></li>
    </ul>
</div>
